# Site settings
title: Awwal Badru, PhD Candidate, Computer Science
email: lobadru@crimson.ua.edu
description: Academic webpage of Awwal Badru
url: "https://awwal-badru.github.io"      # ← your main domain
baseurl: "/home"                          # ← the subpath (folder name)

# Footer info
affiliation: >
  Awwal Badru<br/>
  Ph.D. Candidate, Computer Science<br/>
  University of Alabama

location: >
  University of Alabama<br/>
  Cyber Hall 3055, Tuscaloosa, AL 35487

contact: >
  <a href="mailto:lobadru@crimson.ua.edu" target="_blank"><i class="fa fa-envelope fa-1x"></i> Email</a> <br/>
  <a href="https://github.com/hamasoasis" target="_blank"><i class="fa fa-github fa-1x"></i> GitHub</a> <br/>
  <a href="https://www.researchgate.net/profile/Awwal-Badru" target="_blank"><i class="ai ai-researchgate ai-1x"></i> ResearchGate</a> <br/>
  <a href="https://scholar.google.com/citations?user=DW7LA8sAAAAJ&hl" target="_blank"><i class="ai ai-google-scholar ai-1x"></i> Google Scholar</a>

# Pages shown in navbar
nav_pages:
  - name: about
  - name: publications
  - name: talks
  - name: research
  - name: software
  #- name: team
  - name: teaching
  - name: blogs

include:
  - .htaccess
  - _pages

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false
  parse_block_html: true

plugins:
  - jekyll-scholar

scholar:
  style: citesty
  locale: en
  source: /assets/
  bibliography: ref.bib
  bibliography_template: bibtemplate
  sort_by: year, month
  order: descending
  replace_strings: true
  join_strings: true
  details_dir: bibliography
  details_layout: bibtex.html
  details_link: Details
  query: "@*"
  bibliography_list_attributes:
    reversed: "reversed"

exclude:
  - Gemfile
  - Gemfile.lock
  - update_boostrap.sh
  - switch_theme.sh
  - tags
  - Rakefile
